body {
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
}

.modal-button {
  cursor: pointer;
  width: 135px;
  height: 35px;
  font-size: 16px;
  color: white;
  background-color: #3a49dd;
  border-radius: 5px;
  border: thin #8d8e95;
  box-shadow: 0 2px 2px #8d8e95;
  margin: 5px;
}

.pop-up-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(34, 33, 33, 0.9);
}

.pop-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 150px;
  border: none;
  border-radius: 4px;
  text-align: center;
  background-color: white;
}

.pop-up-text {
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
  line-height: 2em;
}

.no-button {
  cursor: pointer;
  width: 70px;
  height: 30px;
  font-size: 16px;
  color: white;
  background-color: #dc5c56;
  border-radius: 5px;
  border: thin #8d8e95;
  box-shadow: 0 2px 2px #8d8e95;
}

.hide {
  display: none;
}
