.avenir-font {
  font-family: 'Avenir', sans-serif;
  font-style: normal;
  font-weight: 500;
}

.tiempos-headline-font {
  font-family: 'Tiempos Headline', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.border-bottom {
  border-bottom: thin solid #f1f2f4;
}

.container {
  width: 100%;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 65px;
  padding: 0 7%;
  border-bottom: thin solid #f1f2f4;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  padding: 20px 0;
  width: 120px;
}

.navigation-links {
  list-style: none;
  font-size: 12px;
}

.navigation-links li {
  display: inline-block;
  padding: 0 20px;
}

.navigation-links li a {
  text-decoration: none;
  color: #aeaeae;
}

.header button {
  cursor: pointer;
  height: 35px;
  width: 85px;
  background-color: #244464;
  color: #eaedf0;
  font-size: 12px;
  border: none;
  border-radius: 5px;
}

.banner {
  padding: 5% 7%;
}

.banner-image-container {
  height: 425px;
  background-image: url(images/hero.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 25px 376px 50px 60px;
  color: white;
}

.banner-header {
  font-family: 'Tiempos Headline', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 1.4em;
  padding-right: 30px;
}

.banner-paragraph {
  line-height: 1.8em;
  font-size: 12px;
  margin-top: -15px;
  margin-bottom: 25px;
}

.banner-button {
  cursor: pointer;
  height: 45px;
  width: 150px;
  background-color: #244464;
  color: #f6f8f9;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.locations-header-container {
  text-align: center;
  align-content: center;
  padding: 3.5% 31%;
  margin-top: 10px;
  background-color: #fafafa;
  height: 175px;
  line-height: 1.2em;
}

.locations-header {
  color: #6e6e6e;
}

.locations-paragraph-text {
  color: #6e6e6e;
  font-size: 12px;
  line-height: 1.8em;
}

.column-half {
  flex-basis: 50%;
}

.locations {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fafafa;
  padding: 0 20%;
  height: 200px;
  line-height: 0.9em;
}

.locations p {
  color: #787878;
}

.private-meeting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5% 7%;
  height: 140px;
}

.private-meeting-text {
  line-height: 1.2em;
}

.private-meeting-text h2 {
  color: #6e6e6e;
  font-size: 24px;
}

.private-meeting-text p {
  color: #6e6e6e;
  font-size: 12px;
}

.private-meeting-button {
  cursor: pointer;
  height: 47px;
  width: 165px;
  background-color: #244464;
  color: #dbe0e5;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.footer-container {
  display: flex;
  justify-content: flex-end;
  background-color: #525351;
  height: 350px;
  padding: 8% 7%;
}

.logo-contact-info {
  line-height: 4.5em;
  margin-right: auto;
}

.logo-contact-info img {
  width: 120px;
}

.logo-contact-info p {
  color: #ededec;
  font-size: 12px;
  line-height: 0.8em;
}

.footer-links {
  display: inline-block;
  padding: 0 75px;
}

.footer-links p {
  color: #ededec;
  font-size: 16px;
}
